html, body {
    height: 100%;
}

body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    height: 150px;
}

p {
    font-size: 16px;
}

a {
    color: #2e72a1;
}
.margin {
    margin-bottom: 45px;
}

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:auto;
    width: 50%;
  }
  .bg1{
    background-color: #99EDC3;
    border-width: 2px;
    border-style: solid;
  }
  .bg2{
    background-color: #C2AFF0;
  }
  .bg3{
  float: center;
  background-color: grey;
  border: 1px solid black;
  width: 10px;
}
.camera{
  max-height: auto;
  width: 100%;
}
.card{
  margin: 10px;
  height: 450px;
  width: 300px;
  border-style: solid;
}
.bg4{
background-color: white;
padding: 35px;
margin-bottom: 35px;
margin-top: 35px;
border-style: solid;
}
.machine{
  max-height: 18rem;
  width: auto;
  float: left;
  margin: 10px;
}
.bg6{
  padding-top: 70px;
  padding-left: 90px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 33%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}

.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
